---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro"
import Cabin from "../components/Cabin.astro"
import Route from "../components/Route.astro"
---
<Layout>
<div id="hero" style="height: 100vh; background-color: lightgray;">
    <Hero />
  </div>
  <div id="cabin" style="height: 100vh; background-color: lightblue;">
    <Cabin />
  </div>
  <div id="route" style="height: 100vh; background-color: lightblue;">
    <Route />
  </div>
</Layout>
