<nav class="bg-white px-2">
  <div class="sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-10 my-2">
      
      <div class="text-md font-bold text-gray-800">
        <a href="#hero" class="hover:text-blue-800">Finland Trip</a>
      </div>

      
      <div class="hidden md:flex space-x-8 text-sm">
        <a
          href="#cabin"
          class="text-gray-600 hover:text-finland-blue hover:border-b-2 hover:border-blue-800"
        >
          Cabin
        </a>
        <a
          href="#route"
          class="text-gray-600 hover:text-finland-blue hover:border-b-2 hover:border-blue-800">
          Route
        </a>
        <a
          href="/car"
          class="text-gray-600 hover:text-finland-blue hover:border-b-2 hover:border-blue-800"
        >
          Car
        </a>
        <a
          href="/check-list"
          class="text-gray-600 hover:text-finland-blue hover:border-b-2 hover:border-blue-800"
        >
          Check List
        </a>
        <a
          href="/sightseeing"
          class="text-gray-600 hover:text-finland-blue hover:border-b-2 hover:border-blue-800"
        >
          Sightseeing
        </a>
        <a
          href="/trails"
          class="text-gray-600 hover:text-finland-blue hover:border-b-2 hover:border-blue-800"
        >
          Trails
        </a>
        <a
          href="/playlist"
          class="text-gray-600 border-b-2 border-white hover:text-finland-blue hover:border-b-2 hover:border-blue-800"
        >
          Playlist
        </a>
      </div>

      <!-- Mobile Menu -->
      <div class="md:hidden">
        <button
          type="button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-800 hover:text-finland-blue focus:outline-none"
        >
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
