---
import Navbar from '../components/Navbar.astro';
import '../styles/global.css'
---
<html lang="en">
  <body>
  <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="../styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Finland2025</title>
	</head>
    <Navbar />
    <main>
      <slot />
    </main>
    <footer class="text-center py-4 mt-24"> Finland Trip 2025</footer>
  </body>
</html>